/.gradle/
/.idea/
/build/
/world/
/world_nether/
/banned-ips.txt
/banned-players.txt
/bukkit.yml
/marker_world.json
/marker_world_nether.json
/ops.txt
/permissions.yml
/poseidon.yml
/server.log
/server.properties
/uuidcache.json
/white-list.txt
/plugins/
